www/archive/PrefLib_v0.5.zip
www/archive/PrefLib_v1.0.zip
www/archive/PrefLib_v1.6.zip
www/data/packs/pwg.zip
www/data/packs/soc.zip
www/data/packs/soi.zip
www/data/packs/toc.zip
www/data/packs/tog.zip
www/data/packs/wmd.zip
www/data/packs/wmg.zip
www/data/packs/mjg.zip
www/data/packs/toi.zip
www/data/combinatorial/trip/CD-00001-00000002.zip
www/data/combinatorial/trip/trip.zip
www/data/election/glasgow/glasgow.zip
www/data/election/minneapolis/minneapolis.zip
www/data/election/oakland/oakland.zip
www/data/election/pierce/pierce.zip
www/data/election/web/web.zip
www/data/election/debian/debian.zip
www/data/election/dots/dots.zip
www/data/election/ers/ers.zip
www/data/election/f1/f1.zip
www/data/election/frenchapproval/frenchapproval.zip
www/data/election/netflix/netflix.zip
www/data/election/puzzle/puzzle.zip
www/data/election/sf/sf.zip
www/data/election/shirt/shirt.zip
www/data/election/skate/skate.zip
www/data/election/sl/sl.zip
www/data/election/sushi/sushi.zip
www/data/election/takomapark/takomapark.zip
www/data/election/netflix-noncondorcet/3set1.zip
www/data/election/netflix-noncondorcet/3set10.zip
www/data/election/netflix-noncondorcet/3set2.zip
www/data/election/netflix-noncondorcet/3set3.zip
www/data/election/netflix-noncondorcet/3set4.zip
www/data/election/netflix-noncondorcet/3set5.zip
www/data/election/netflix-noncondorcet/3set6.zip
www/data/election/netflix-noncondorcet/3set7.zip
www/data/election/netflix-noncondorcet/3set8.zip
www/data/election/netflix-noncondorcet/3set9.zip
www/data/election/netflix-noncondorcet/3setlarge.zip
www/data/election/netflix-noncondorcet/3setnear.zip
www/data/election/netflix-noncondorcet/4set1.zip
www/data/election/netflix-noncondorcet/4set10.zip
www/data/election/netflix-noncondorcet/4set2.zip
www/data/election/netflix-noncondorcet/4set3.zip
www/data/election/netflix-noncondorcet/4set4.zip
www/data/election/netflix-noncondorcet/4set5.zip
www/data/election/netflix-noncondorcet/4set6.zip
www/data/election/netflix-noncondorcet/4set7.zip
www/data/election/netflix-noncondorcet/4set8.zip
www/data/election/netflix-noncondorcet/4set9.zip
www/data/election/netflix-noncondorcet/4setlarge.zip
www/data/election/netflix-noncondorcet/4setnear.zip
*.pyc
vermont.zip
education.zip
