div#navbar, div.spacer {
	margin-top: 0px;
	margin-bottom: 10px;
}

div#navbar {
	background-color: #cb64fe;
	border: solid 3px #7D1B7E; 
	padding: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
}

div#navbar ul {
	list-style: none;
	display: block;
	margin: 0 5px;
}

div#navbar ul li {
	float: left;
	margin: 0 1em;
}

div.spacer {
	background-color: #008000;
	height: 1em;
}

div#footer {
	background-color: #e5e5e6;
}

div#footer div p{
	margin: 5px;
}

p.head {display: inline;
	    padding: 0px;
}



/*------ Centered links (with images...) ---- */
a.center {text-decoration:none; display: block; text-align: center;}
a.center:link, a.center:visited  {color: darkgreen; text-decoration: underline;}
a.center:hover {color: red;}

/* ---------------------- All Links ---------------- */
a {
    text-decoration: none;
}
a:link, a:visited {
    color: darkgreen;
    text-decoration: underline;
}
a:hover {
    color: red;
}

/* ---------------------- News Box.... */

.news_box{
float:left;
width:auto;
border-top:1px #CCCCCC solid;
padding:10px 0 8px 0;
}
.news_icon{
width:30px;
height:33px;
float:left;
background:url(../images/news_icon.gif) no-repeat center;
}
.news_content{
width:400px;
float:left;
text-align:justify;
line-height:20px;
padding:0 0 0 10px;
}


/*----------------------  Table Preffifying ---------------- */

table.DataTable {
   
    width: 960px;
    margin-left:auto; 
    margin-right:auto;
}

table.DataTable td.DataTable {
        width: 192px;
}
    
table {
    /* cellspacing */
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
    /* This covers the th elements */
    text-align: center;
}
tr {
    /* This covers the tr elements */
    text-align: center;
    padding 0;
}
th, td {
    /* cellpadding */
    padding-top: 0em;
    padding-bottom: .5em;
    text-align: center;
}

/* --------------------  Menu Links --------------- */
a.menu {color:black;}
a.menu:link  {text-decoration: none; color: black;}
a.menu:visited {text-decoration: none; color: black;}
a.menu:hover {text-decoration: underline overline; color: black;}

    /*background-color: #cb64fe;
    border: solid 3px #7D1B7E; 
    padding: 0px;*/

/*---- CROSS BROWSER DROPDOWN MENU ----*/
ul#nav {margin: 0 0 0 200px;}
ul.drop a { display:block; 
            color: black; 
            text-decoration: none;
            font: 22px "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
            font-weight: bold;
        }

ul.drop, ul.drop li, ul.drop ul { 
    list-style: none; 
    margin: 0; padding: 0;  
    background: #cb64fe; 
    color: #fff;}

ul.drop { position: relative; 
    z-index: 597; 
    float: left; }

ul.drop li { 
    float: left; 
    line-height: 1em; 
    vertical-align: middle; 
    zoom: 1; 
    padding: 5px 10px; 

    color: black; 
    text-decoration: none;
    font: 22px "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
    font-weight: bold;
}

ul.drop li.hover, ul.drop li:hover { 
    position: relative; 
    z-index: 599; 
    cursor: default; 
    background: #008000; }

ul.drop ul { 
    visibility: hidden; 
    position: absolute; 
    top: 100%; 
    left: 0; 
    z-index: 598; 
    width: 250px; 
    background: #cb64fe; 
    border: solid 3px #7D1B7E; }

ul.drop ul li { float: none; }
ul.drop ul ul { top: -2px; left: 100%; }
ul.drop li:hover > ul { visibility: visible }
